
.maincontent{
	padding: 10px 10px; 
}

.navigation{
	float: right;
}

.maincontent{
	position: absolute;
	visibility: visible;
	right:500px;
	top: 150px;
	z-index: 200;
}

.navigation li{
 display: inline-block;
 float:left;
 padding-right: 10px;
 font-size: 10pt;

}

#footer{
	position: fixed;
	bottom:0;
	width: 100%;
	padding-bottom: 15px;
	border: solid;
	border-width: thin;
	border-color:#F9F9F9;
	box-shadow: 1px 1px 3px #888;
	padding-right: 10px;
	font-size: 15px;
}

#fsr{
	float:left;

}

#fsl{
	float:right;
}