#{
	padding: 0;

}

.maincontent{
	padding: 10px 10px; 
}

.navigation{
	float: right;
}

ul{
	list-style-type: none;
	margin: o;
	padding: o;
}

li{
	float: right;
}

#fot{
	border-top: 1px solid fff;
}